.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
  color: #9d9d9d
}

body {
  padding-top: 80px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}


input {
  margin: 5px 0px;
}

ul {
 list-style: none;
 padding: 0;
}

label {
  display:block;
  margin: 5px 0px;
}

textarea {
  margin: 5px 0px;
}

.instructions {
  margin: 20px 0px;
  line-height: 1em;
}

.bokeh {
  margin-bottom: 20px;
  max-width: 100%;
  height:auto;
}


.boxed {
  border: 1px solid red;
}

.comics {
  display: table;
  background-color: #e5e5e5;
  padding: 15px 15px 0px 15px;
  margin: 20px 0px;
  text-align: center;
}

.spacer{
  min-height: 10px;
}

.funfacts_text {
  margin: 20px 0px;
}

.search_bar {
  min-height: 50px
}

.list_indent {
  list-style-type: disc;
  margin-left: 40px;
  margin-bottom: 10px;
}

.formula_img{
  display: block;
  margin-left: 5%;
  margin-right: auto;
  margin-bottom: 10px
}

.error{
  border: 2px solid red;
  padding: 3px;
  text-align: center;
}
