{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
  <div class="container">
    <div class="about_me">
      <h1>Pei Zhang, Ph.D.</h1>
  		<p>Hi! My name is Pei Zhang. I created this website to demonstrate the results of my capstone project for The Data Incubator, a 8-week program that trains PhDs and academics to become data scientists in industry.</p>

      <p>I have a Ph.D. in biochemistry. No matter whether I am inside or outside of the lab, I enjoy analyzing data, searching for insights, and helping people use data to make better decisions. Currently I am looking for opportunities to apply and advance my data science skills to make real world impacts. </p>

      <p>If you would like to learn more about my interests and experience, feel free to:
        <ul class='list_indent'>
          <li>Check out my <a href="https://www.linkedin.com/in/PeiZhangOSU/" target="_blank">LinkedIn</a></li>
          <li>Check out my <a href="https://github.com/PeiZhangOSU" target="_blank">GitHub</a></li>
          <li>Drop me an email at: PeiZhangOSU dot gmail dot com</li>
        </ul>
      </p>
    </div>
  </div>

{% endblock %}
