<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trope Recommender">
    <meta name="author" content="@peizhangosu">

    <title>Trope Recommender</title>

    <!-- Bootstrap core CSS, for navbar -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS for navbar, bokeh and boxed-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    {% block head%}{% endblock %}

  </head>

  <body>
    <!-- navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-1">
          <span class="sr-only">Toggle navigation</span>
          </button>
          <span class="navbar-brand">Trope Recommender</span>
        </div>

        <div class="collapse navbar-collapse" id="nav-1">
          <ul class="nav navbar-nav">
            <li id="recommendations" class="nav-item">
              <a class="nav-link" href="{{ url_for('trope_rec') }}">Recommend Tropes<span class="sr-only"></span></a>
            </li>
            <li id="whataretropes" class="nav-item">
              <a class="nav-link" href="{{ url_for('load_whataretropes') }}">What Are Tropes</a>
            </li>
            <li id="howitworks" class="nav-item">
              <a class="nav-link" href="{{ url_for('load_howitworks') }}">How It Works</a>
            </li>
            <li id="insights" class="nav-item">
              <a class="nav-link" href="{{ url_for('load_insights') }}">Fun Facts</a>
            </li>
            <li id="about" class="nav-item">
              <a class="nav-link" href="{{ url_for('load_about') }}">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/PeiZhangOSU/trope_rec_heroku" target="_blank">GitHub</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      let page = window.location.pathname.slice(1);
      if (page == '') {
        page = 'recommendations';
      }
      let $current_li = $('li#'+page);
      // console.log('activating ', page, $current_li);
      $current_li.addClass('active');
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
