{% extends "base.html" %}
{% block title %}Fun Facts About Tropes in Movies{% endblock %}
{% block content %}
  <div class="container">
    <h1>Fun Facts About Tropes in Movies</h1>
  </div>

  <div class="container">
    <div class="funfacts_text">
  		<p>
        The profile of tropes used in a movie gives us an idea of what the movie is like. Here we have a heatmap of how frequently the top 20 most used tropes appear across different movie genres. Did you know that Downer Ending is a feature of Film-Noir?
      </p>
      <img src="static/freq_heatmap_by_genre.png" alt="heatmap of top 20 tropes" style="width:100%;">
  </div>
  </div>

{% endblock %}
