{% extends "base.html" %}
{% block title %}Fun Facts About Tropes in Movies{% endblock %}

{% block head %}
<!-- Bokeh CSS -->
   <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
   <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
   {{ script_by_trope | safe }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Fun Facts About Tropes in Movies</h1>
    <p></p>
  </div>

  <div class="container">
    <div class="funfacts_text">
  		<p>
        The profile of tropes used in a movie gives us an idea of what the movie is like. Here is a heatmap of how frequently the top 20 most used tropes appear across different movie genres. Did you know that Downer Ending is a feature of Film-Noir?
      </p>
      <img src="static/freq_heatmap_by_genre.png" alt="heatmap of top 20 tropes" style="width:100%;">
  </div>
  </div>

  <div class="container">
    <div class="funfacts_text">
      <p>Typically, each trope is popular in a number of genres, but not very common in the others. You can examine how popular is your trope in each genre here.</p>
    </div>
  </div>

  <div class="container">
        <div class='bokeh'>
              {{ div_by_trope | safe }}
        </div>
    </div>

{% endblock %}
