{% extends "base.html" %}
{% block title %}How Are the Recommendations Made?{% endblock %}
{% block content %}
  <div class="container">
    <h1>How Are the Recommendations Made?</h1>
		<p>This will be a paragraph introducing tropes.</p>
		<p>This will be another paragraph introducing trope associations, and how the recommendations are made. </p>
		<p>Now try the recommender with your tropes!</p>
		<form action="/">
        <input type="submit" value="Try the Recommender!" />
    </form>
  </div>

{% endblock %}
