{% extends "base.html" %}
{% block title %}Trope Recommendation{% endblock %}

{% block content %}
  <div class="container">
    <h1>Trope Recommendation</h1>
    <p>Recommendations will be made based on how often they co-appear in movies with your tropes.</p>
  </div>

  <!-- form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <form id="usrinput" method="get" action="/rec"> <!-- action is the URL you want to move to next-->
          Please enter your tropes, separated by commas (,):
          <br><br>
          <textarea rows="10" cols="50" name="usrtropes" form="usrinput">{{ textarea_args }}</textarea>
          <br>
          <input type="submit" value="Recommend!"> <!-- value is the text that will appear on the button. -->
        </form>
      </div>
    </div>
  </div>

  <br>
  <!-- recommendation results -->
  <div class="container">
    {% for result in rec_results %}
      <p>{{ result }}</p>
    {% endfor %}
  </div>
{% endblock %}
