{% extends "base.html" %}
{% block title %}Trope Recommendation{% endblock %}

{% block content %}
  <div class="container">
    <h1>Trope Recommendation</h1>
  </div>
  <div class="container">
    <div class="comics">
        <img src="static/xkcd.png" title="Now we can help you discover and read more tropes!" alt="xkcd comics about tropes" style="width:364px;height:203px;">
        <a href="https://www.xkcd.com/609/"><p>xkcd: Tab Explosion</p></a>
    </div>
  </div>


  <!-- form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <div class="instructions">
          <H2>How to use the trope recommender </H2>
          <p>Enter your tropes in the "Your Current Tropes" text box below, each trope separated by a comma (,)</p>
          <p>You can use the search box to search for tropes. Click on a search result to add it to "Your Current Tropes".</p>
          <p>Then click the "Recommend!" button to see recommendations based on your tropes.</p>
          <p></p>
        </div>
      </div>

      <div class="col-lg-6 text-left">
        <form id="user_input" method="get" action="/#recommendation_results"> <!-- action is the URL you want to move to next-->
          <H4><i class="glyphicon glyphicon-edit"></i>  Your Current Tropes:</H4>
          <textarea id="user_tropes" rows="10" cols="50" name="user_tropes" form="user_input">{{ textarea_args }}</textarea>
          <br>
          <input type="submit" value="Recommend!"> <!-- value is the text that will appear on the button. -->
        </form>
      </div>

      <div class="col-lg-6 text-left">
        <div>
          <H4><i class="glyphicon glyphicon-search"></i>  Search for Tropes:</H4>
          <input id="trope_search" type="string" placeholder="Search Tropes" name="trope_search" size="35">
        </div>
        <div>
          <ul id="search_results">
          </ul>
        </div>
      </div>

    </div>
  </div>



  <!-- recommendation results -->
  <div class="container" id="recommendation_results">
    <h3>{{ rec_title }}</h3>
    <ul>
      {% for result in rec_results %}
        <li>
          <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/{{ result[0] }}" target="_blank">{{ result[1] }}</a> ({{ result[2]}})
        </li>
      {% endfor %}
    </ul>

    {% if rec_results %}
      <div class="instructions">
        <p>The number in parentheses after each trope is the average lift of association rules between your tropes and this trope. </p>
        <p>A lift value > 1 implies that this recommended trope and your tropes appears more together than by random chance. The larger the lift, the more significant the association. </p>
        <p><a href = {{ url_for('load_howitworks') }}>Read more</a> about how the lift is calculated.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/trope_search.js') }}" type=text/javascript></script>
{% endblock %}
