{% extends "base.html" %}
{% block title %}Trope Recommendation{% endblock %}

{% block content %}
  <div class="container">
    <h1>Trope Recommendation</h1>
  </div>
  <div class="container">
    <div class="comics">
        <img src="static/xkcd.png" title="Now we can help you discover and read more tropes!" alt="xkcd comics about tropes" style="width:364px;height:203px;">
        <a href="https://www.xkcd.com/609/"><p>xkcd: Tab Explosion</p></a>
    </div>
  </div>


  <!-- form -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <div class="instructions">
          <H3><i class="glyphicon glyphicon-thumbs-up"></i>  How to use the trope recommender </H3>
          <p>Enter your tropes in the "Your Current Tropes" text box below, each trope separated by a comma (,)</p>
          <p>You can use the search box to search for tropes. Click on a search result to add it to "Your Current Tropes".</p>
          <p>Then click the "Recommend!" button to see recommendations based on your tropes.</p>
        </div>
      </div>

      <div class="col-lg-6 text-left">
        <form id="user_input" method="get" action="/"> <!-- action is the URL you want to move to next-->
          <H4><i class="glyphicon glyphicon-edit"></i>  Your Current Tropes:</H4>
          <textarea id="user_tropes" rows="10" cols="50" name="user_tropes" form="user_input">{{ textarea_args }}</textarea>
          <br>
          <input type="submit" value="Recommend!"> <!-- value is the text that will appear on the button. -->
        </form>
      </div>

      <div class="col-lg-6 text-left">
        <div>
          <H4><i class="glyphicon glyphicon-search"></i>  Search for Tropes:</H4>
          <input id="trope_search" type="string" placeholder="Search Tropes" name="trope_search" size="35">
        </div>
        <div>
          <ul id="search_results">
          </ul>
        </div>
      </div>

    </div>
  </div>



  <!-- recommendation results -->
  <div class="container">
    <h4>{{ rec_title }}</h4>
    <ul>
      {% for result in rec_results %}
        <li><a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/{{ result[1] }}" target="_blank">{{ result[0] }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='scripts/trope_search.js') }}" type=text/javascript></script>
{% endblock %}
