{% extends "base.html" %}
{% block title %}Fun Facts About Tropes in Movies{% endblock %}
{% block content %}
  <div class="container">
    <h1>What Are Tropes?</h1>

		<p>A trope is a reoccuring plot device. It can convey a concept to the audience without needing to spell out all the details. The usage of tropes is a short cut for describing situations the storyteller can reasonably assume the audience will recognize.</p>

    <p>Here are some examples of tropes, with links to their pages on <a href="http://TVTropes.org">TVTropes.org</a>, a site dedicated to cataloguing and studying tropes:</p>

    <ul>
      <div class="list_indent">
        <li><a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/HeroicSacrifice">Heroic Sacrifice</a>: A character saves another/others from harm and is killed, crippled, or maimed as a result.</li>
        <li><a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/AntiHero">Anti-Hero</a>:  An antihero is a protagonist who has the opposite of most of the traditional attributes of a hero. They may be bewildered, ineffectual, deluded, or merely apathetic.</li>
        <li><a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/TimeMachine">Time Machine</a>: A Time Machine is the main prerequisite for Time Travel and all the other fun that goes along with it. </li>
      </div>

    <p>The choice of tropes shapes where the story is going. And that is why I built this website -- it uses data to help you find the next best trope to add to your story.</p>
  </div>

{% endblock %}
